@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.container {
	background-image: url("../public/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	font-family: "Montserrat", sans-serif;
}

.header {
	text-align: center;
	background-color: #5594ca80;
	backdrop-filter: blur(0px);
	position: fixed;
	top: 0;
	width: 100%;
	color: #fff;
}

.error {
	position: fixed;
	top: 4rem;
	width: 80%;
	max-width: 500px;
	background-color: #ff5353;
	padding: 1rem;
	border-radius: 20px;
	color: #fff;
	z-index: 2;
	-webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s
		both;
	animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}
.error button {
	border: solid;
	background: #ff5353;
	border-width: thin;
	border-color: white;
	color: white;
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 10px;
}

.authPrompt {
	position: fixed;
	top: 4rem;
	width: 80%;
	max-width: 500px;
	background-color: #ffffff;
	padding: 1rem;
	border-radius: 20px;
	color: rgb(54, 54, 54);
	z-index: 2;
	-webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s
		both;
	animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}

.authPrompt button {
	border: solid;
	background: #0056a1;
	border-width: thin;
	border-color: white;
	color: white;
	position: absolute;
	right: 20px;
	bottom: 10px;
	border-radius: 10px;
	padding: 0.25rem 1rem;
	font-size: inherit;
}

.main {
	min-height: 300px;
	width: 90%;
	max-width: 500px;
	position: fixed;
	background-color: #5594caa6;
	backdrop-filter: blur(10px);
	border-radius: 25px;
	text-align: center;
	top: 20vh;
	-webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s
		both;
	animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}

.inner {
	padding: 1rem 10% 0;
	color: #fff;
	animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.creds {
	font-size: 17px;
	border: none;
	border-radius: 20px;
	text-align: center;
	padding: 5px;
	margin-top: 1rem;
	background: #ffffff45;
	color: #fff;
	width: 100%;
}

.link {
	margin-top: 1rem;
	font-size: 17px;
	color: #fff;
}

.link:hover {
	color: rgb(177 208 255);
}

.btn {
	font-size: 17px;
	margin-top: 1rem;
	padding: 5px 1rem;
	border: none;
	border-radius: 20px;
	background-color: #0056a1;
	color: #fff;
}

.btn:hover {
	background-color: #3f79e6;
	cursor: pointer;
}

.inner .animatedText {
	animation: blink-2 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}

.downloads {
	width: 93%;
	max-width: 500px;
	margin-top: 93vh;
	background-color: #ffffff;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 25px 25px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 500px;
	text-align: center;
	z-index: 2;
	-webkit-animation: slide-in-blurred-bottom 0.9s
	cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s both;
	animation: slide-in-blurred-bottom 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955)
	1s both;
}

@media screen and (max-width: 560px) {
	.downloads {
		margin-top: 83vh;
	}
}

.pillLine {
	width: 10%;
	height: 5px;
	border-radius: 60px;
	border: none;
}

.downloads hr {
	background: #2d5cb1;
}

.main hr {
	background: #fff;
}

.downloads h2 {
	margin: 0.5rem 0 0.25rem;
}

.main h1 {
	color: #fff;
	margin: 0.1rem 0 0.25rem;
}

.downloadItem {
	margin-top: 0.5rem;
	background-color: rgb(3 108 255 / 10%);
	border-radius: 10px;
	width: 90%;
	display: flex;
	flex-direction: column;
	padding: 0 1rem 1rem;
	word-wrap: break-word;
}

.downloadItem p {
	margin-bottom: 0;
	margin-top: 0.5rem;
}

.torrentSearcher {
	height: 70vh;
	width: 90%;
	max-width: 500px;
	position: fixed;
	background-color: #ffffff;
	/* backdrop-filter: blur(10px); */
	border-radius: 25px;
	text-align: center;
	top: 10vh;
	display: flex;
	flex-direction: column;
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 
		both;
	animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.searchInput {
	font-size: 17px;
	border: none;
	border-radius: 20px;
	text-align: center;
	padding: 5px;
	margin: 1rem 1rem 0;
	background: rgb(221, 221, 221);
	color: rgb(0, 0, 0);
}

.resultsDiv {
	margin: 5%;
	overflow-y: auto;
	padding: 1rem;
	border-radius: 20px;
	border-color: #0056a13b;
	border-style: solid;
	border-width: 2px;
}

.resultsDiv::-webkit-scrollbar {
	width: 7px;
}
.resultsDiv::-webkit-scrollbar-track {
	background: transparent;
}
.resultsDiv::-webkit-scrollbar-thumb {
	background: #0056a1;
	border-radius: 10px;
}
.resultsDiv::-webkit-scrollbar-thumb:hover {
	background: #0006a1;
}

.progressTrack {
	margin-top: 0.5rem;
	width: 100%;
	height: 5px;
	background-color: #fff;
	border-radius: 10px;
}

.progressBar {
	height: 100%;
	background-color: #5a53ff;
	border-radius: 10px;
}

.creds::placeholder {
	color: rgb(246, 246, 246);
}

.creds:-ms-input-placeholder {
	color: rgb(246, 246, 246);
}

.creds::-ms-input-placeholder {
	color: rgb(246, 246, 246);
}

/* animations */

@-webkit-keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(-1500px);
		transform: translateY(-1500px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(-1500px);
		transform: translateY(-1500px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes slide-in-blurred-bottom {
	0% {
		-webkit-transform: scaleY(2.5) scaleX(0.2);
		transform: scaleY(2.5) scaleX(0.2);
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scaleY(1) scaleX(1);
		transform: scaleY(1) scaleX(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes slide-in-blurred-bottom {
	0% {
		-webkit-transform: scaleY(2.5) scaleX(0.2);
		transform: scaleY(2.5) scaleX(0.2);
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scaleY(1) scaleX(1);
		transform: scaleY(1) scaleX(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes blink-2 {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		transform: translateX(150px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
